<div class="container">
    <h1>we confirm you order for <%= @user.plan %> Plan. </h1>
    <p>Name:           <%= @user.name %></p>
    <p>Contact Number: <%= @user.contactNumber%></p>
    <p>You will receive a sms from us, confirming you order.<p>
</div>    