<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="text-muted">© <%= Time.now.year %> Muscle center</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><%= image_tag "twitter.png", size: "10x20", alt: "twitter" %></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><%= image_tag "facebook.png", size: "10x20", alt: "facebook" %></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><%= image_tag "instagram.png", size: "10x20", alt: "instagram" %></svg></a></li>
    </ul>
  </footer>
</div>