<div class="container">
<h2>Loose the extra fat that you generate everyday by doing simple 30 mins training.</h2>
<p>Leave your email for us to contact you.</p>
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="abc@abc.com">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
</form>  
<p>You will hear from us sooon.</p>
<p>Contact number: +91-8310863570</p>
</div>
