// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.img-margin {
  margin: auto;
  width: 50%;
}
.card-title {
  text-align: center;
}
.card {
  margin: 2%;
}
